@CHARSET "UTF-8";

#footer{
	position: fixed;
	width:100%;
	bottom:0;
	left:0;
	height:34px;
	
}

#footer-cont
{
	padding-top:6px;
	width:94%;
	background-color: #CCC;
	height:100%;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #999;
	border-right-color: #999;
	border-left-color: #999;
}

#footer .menu{
	float:left;
	padding-left:30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #575956;
}

#footer .copyright{
	float:right;	
	padding-right: 30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 18px;
	color:#969994;
}