<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <title>###SUBJECT###</title>
</head>
<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center">
    <table width="600" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img src="###IMAGE_URL###/header.png" width="600" height="104" alt="###SITE_NAME### : Account Updated"></td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF">
    <table width="100%" border="0" cellspacing="0" cellpadding="10">
  <tr>
    <td style="color:#555555; font-family:Verdana, Geneva, sans-serif; font-size:13px;">###MESSAGE###</td>
  </tr>
</table>
    
    </td>
  </tr>
  <tr>
    <td height="70" align="left" id="footer" style="background:url(###IMAGE_URL###/footer.png); background-repeat:no-repeat; color:#CCC; font-family:Verdana, Geneva, sans-serif; font-size:11px;">
    <br><br><br>
    ###COPYRIGHT###<br>
    ###MENU###
    
    </td>
  </tr>
</table>
    </td>
  </tr>
</table>
</body>
</html>