[core]
config                = staging
lang                  = en;
debug                 = true
site_name             = "[QA] SAY Media | Nexus"
copyright             = "saymedia.com"
library.path          = library/core
applications.root     = applications
default.app           = nexus
default.controller    = default
default.method        = main

downloads.base_dir    = ../download
downloads.base_url    = http://nexus-dev.saymedia.com/app/nexus/downloads

email.template_path   = private/templates/emails
email.img_path        = images/emails
email.admin           = "spartridge@saymedia.com"
email.noreply         = "noreply@nexus.videoegg.com"

auth.session_timeout  = 86400

auth.ldap.server = "ldap://ldap.sacta.videoegg.com"
auth.ldap.basedn = "ou=people, dc=videoegg, dc=com";

db.main.adapter = Mysqli 
db.main.user = nexus
db.main.pass = ""
db.main.host = "sac-dev-db001.say"
db.main.port = 3306
db.main.name = nexus

db.ducksoup.adapter = Mysqli 
db.ducksoup.user = nexus
db.ducksoup.pass = ""
db.ducksoup.host = "sac-dev-db001.say"
db.ducksoup.port = 3306
db.ducksoup.name = nexus

db.core.adapter = Mysqli 
db.core.user = readonly
db.core.pass = "readonly"
db.core.host = "dbha03.evlpa.videoegg.com"
db.core.port = 3306
db.core.name = core
