[core]
config                = local
lang                  = en;
debug                 = true
site_name             = "[local] ducksoup"
copyright             = "saymedia.com"
library.path          = library/core
applications.root     = applications
default.app           = ducksoup
default.controller    = default
default.method        = main

downloads.base_dir    = ../download
downloads.base_url    = http://local.dirtyhooligans.com

email.template_path   = private/templates/emails
email.img_path        = images/emails
email.admin           = "spartridge@dirtyhooligans.com"
email.noreply         = "noreply@dirtyhooligans.com"

auth.session_timeout  = 300

db.main.adapter = Mysqli 
db.main.user = ducksoup_user
db.main.pass = "shelly"
db.main.host = "localhost"
db.main.port = 3306
db.main.name = ducksoup

db.ducksoup.adapter = Mysqli 
db.ducksoup.user = ducksoup
db.ducksoup.pass = "shelly"
db.ducksoup.host = "localhost"
db.ducksoup.port = 3306
db.ducksoup.name = ducksoup

db.core.adapter = Mysqli 
db.core.user = readonly
db.core.pass = "readonly"
db.core.host = "dirtyhooligans.com"
db.core.port = 3306
db.core.name = core